{% extends "base.html" %}


{% block content %}
    
    
        <h1>Welcome at the "pony range"</h1>
    
       <p>
            webkitpony is a lightweight framework on top of pywebkitgtk providing a django-like approach
            to build desktop applications with web technologies.
       </p>
       
       
       <br/>
       
       
       <div class="buttons">
        <a href="http://web.de" target="_new">pywekitgtk</a>
        <a href="http://web.de" target="_new">jinja2</a>
        <a href="http://web.de" target="_new">jQuery</a>
       </div>

 
                   

{% endblock %}
