<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>webkitpony</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="file://{{STATIC_URL}}/styles.css">
    <script src="file://{{ STATIC_URL }}/jquery-1.7.2.min.js"></script>        
    <script src="file://{{ STATIC_URL }}/webkitpony.js"></script>

</head>

<body>
    {% block content %}    
     
    {% endblock %}

</body>
</html>
